* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-center {
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  margin: 0 50px;
}

.menu {
  font-size: 24px;
  cursor: pointer;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: red;
}


.header-center input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
  outline: none;
  border-radius: 120px;
}

.header-center button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #f8f8f8;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  border-radius: 120px;
}

.header-right {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.container {
  display: flex;
  margin-top: 12px;
}

aside {
  width: 200px;
  background-color: white;
  height: calc(100vh - 60px);
  position: fixed;
  padding-top: 20px;
  border-right: 1px solid #eee;
}

aside a {
  display: block;
  padding: 12px 25px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

aside a:hover {
  background-color: #f0f0f0;
}

.videos {
  margin-left: 200px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.video-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 10s;
}

.video-card:hover {
  transform: scale(1.02);
}

.video-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.video-info {
  padding: 12px;
}

.video-info h4 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #030303;
}

.video-info p {
  font-size: 14px;
  color: #606060;
  margin-bottom: 3px;
}

.video-info span {
  font-size: 12px;
  color: #909090;
}
