#root {
  /* display: flex; */
  margin: 0;
  padding: 0;
}
.navbar{
  align-items: right;
  
}
.flex{
  display: flex;
}
.card {
  padding: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  border-radius:20px; 
  height : 50vh;
}
.header{
  display: flex;
}

.bg-blue{
  background-color: blue;
}

.bg-red{
  background-color: red;
}

.bg-green{
  background-color: green;
}